@model DemoProject.Models.ForgetPassword

@{
    ViewBag.Title = "ForgetPassword";
}

<h2>ForgetPassword</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ForgetPassword</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserEmailID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserEmailID, new { htmlAttributes = new { @class = "form-control email-input" } })
                @Html.ValidationMessageFor(model => model.UserEmailID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control user-password" } })
                @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
                <span class="text-danger password-strength" style="display:none">Your password should be alphanumeric</span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="UserPassword">   Please enter password again</label>

            <div class="col-md-10">
                <input type="text" class="form-control confirm-password">
                <span class="text-danger confirm-password-msg" style="display:none">Your password doesn't match</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update Password" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@if (ViewBag.Message == true)
{
    <div class="success-updated">
        <span class="text-danger">Your password has been updated successfully. Please login now</span>
        <a href="/UserRegistration/UserLoging">Login now</a>
    </div>
}

@if (ViewBag.ErrorMessage == true)
{
    <div class="success-updated">
        <span class="text-danger">Email Id doesn't exist on the database</span>
       
    </div>
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".confirm-password").keyup(function () {
            var firstInputBox = $(".user-password").val();
            var secondInputBox = $(this).val();
            if (firstInputBox != secondInputBox) {
                $(".confirm-password-msg").css("display", "block");
            }
            else {
                $(".confirm-password-msg").css("display", "none");
            }

        })

        $(".email-input").keyup(function () {
            if ($(".success-updated") != undefined) {
                $(".success-updated").each(function () {
                    $(this).remove();
                })
            }
        })

        $(".user-password").keyup(function () {
            var count = 0;

            /*Password lenth*/

            if (this.value.length >= 5) {
                count++;
            }
            /*Password should contain lowercase*/
            if (this.value.match(/[a-z]+/)) {
                count++;
            }

            /*Password should also contains Uppercase*/
            if (this.value.match(/[A-Z]+/)) {
                count++;
            }

            /*Password should also contains numeric or digits*/
            if (this.value.match(/[0-9]+/)) {
                count++;
            }

            if (count == 4) {
                $(".password-strength").css("display", "none");
            }
            else {
                $(".password-strength").css("display", "block");
            }
        })
    })

    $('form').submit(function (e) {
        var isDisplay = false;

        $(".text-danger").each(function () {
            debugger;
            if ($(this).css("display") == "block") {
                isDisplay = true;
            }
        })
        debugger;
        if (isDisplay) { 
            e.preventDefault();
        }
    })

</script>